/* =====================
   RESET
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =====================
   BODY
===================== */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #222;

  background-image: url("../assets/img/orixas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* =====================
   CONTEÚDO PRINCIPAL
===================== */
.conteudo {
  width: 100%;
  max-width: 1100px; /* largura do site */
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =====================
   NAV
===================== */
nav {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #1a237e;
  font-size: 18px;
}

/* =====================
   TÍTULOS
===================== */
h1 {
  font-size: 36px;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: 40px 0 20px;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin: 30px 0 15px;
  text-align: center;
}

/* =====================
   PARÁGRAFOS
===================== */
p {
  width: 100%;
  max-width: 900px;
  margin-bottom: 18px;
  padding: 18px;

  background-color: rgba(236, 230, 230, 0.85);
  border-radius: 12px;

  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

/* Destaques */
strong {
  color: #4b2e83;
}

em {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-style: italic;
}

/* =====================
   FOOTER
===================== */
footer {
  width: 100%;
  margin-top: auto;
  background-color: #020202;
  color: #ffffff;
  padding: 20px 10px;
  text-align: center;
}

/* PARÁGRAFOS DO FOOTER */
footer .footer-p {
  margin: 6px 0;
  padding: 0;
  max-width: none;
  background: none;
  border-radius: 0;
  font-size: 13px;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}




/* =====================
   RESPONSIVO
===================== */

/* TABLET */
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 17px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    padding: 14px;
  }

  .footer-p {
    font-size: 11px;
  }
}
